<section *ngIf="character" class="character">
    <figure class="figure">
        <img [src]="character.image" [alt]="character.name">
        <figcaption class="caption">
            <h1 class="name">{{ character.name }}</h1>
            <p class="info">
                <span>id: {{ character.id }} - </span>
                <span>created {{ created }} years ago</span>
            </p>
        </figcaption>
    </figure>
    <ul class="description">
        <li>
            <span class="left">Status</span>
            <span class="right">{{ character.status }}</span>
        </li>
        <li>
            <span class="left">Species</span>
            <span class="right">{{ character.species }}</span>
        </li>
        <li>
            <span class="left">Gender</span>
            <span class="right">{{ character.gender }}</span>
        </li>
        <li>
            <span class="left">Origin</span>
            <span class="right">{{ character.origin.name }}</span>
        </li>
        <li>
            <span class="left">Last Location</span>
            <span class="right">{{ character.location.name }}</span>
        </li>
    </ul>
</section>